<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="android.fascup.com.fascup">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".MainActivity" />
        <activity
            android:name=".FormIActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FormIIIActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="stateHidden">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".FormIIActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FormIVActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FormVActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FormVIActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VistaFormVII"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VistaFormI"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VistaFormII"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".LicenseActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FromVIIActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FormVIIIActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FormXActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".FormXIActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VistaFormIII"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VistaFormIV"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".VistaFormX"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".FormNueveActivity"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".VistaFormIX"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity android:name=".VistaFormXI"></activity>
    </application>

</manifest>